@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&family=Varela+Round&display=swap');

:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --gray4text: #63747079;
    --red: #ff0000;
    --rlydarkBlue: #120170;
    --blue: #00eeff;
    --col4background:#333333;
    --niceYellow: #ffcc00;
  }

  h1, h2 ,h3, h4, h5, h6{
    /*background:#333333; не нужно вроде*/
    margin: 0;
    font-family: "Roboto";
    font-style:italic;
    color: white;
}

.mainPic {
  float: left;
  margin: 0 0 5px 5px; 
 } 

body {
  background: #333333; /* Цвет фона */
  color:  #ffcc00; /* Цвет текста */
 }


  /* Container for preheader */
.container {
  background-color: col4background;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}
div{
  overflow:hidden
  }
.container4MainInfo {
  background-color: col4background;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 1200px;
  height: 100%;
  border: 5px solid #fff; /* Белая рамка */
  border-radius: 15px; /* Радиус скругления */
}

.mainText{
    margin: 0;
    max-width: 1000;
    font-family: "Roboto";
    color: white;
}
.Text4tables{
    margin: 0;
    max-width: 350px;
    font-family: "Roboto";
    color: white;
}

 li {
    list-style-type: none; /* Прячем исходные маркеры */
    position: initial;
   }
   li:before {
    color: rgb(180, 0, 252); /* Цвет маркера */
    content: "•"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
   }

   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }

   .rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }

   .myFooter {
      margin: 0;
      max-width: 1200;
      font-family: "Roboto";
      color: white;
      position: fixed; /* Фиксированное положение */
      right: 0; bottom: 0; /* правый нижний угол */
      padding: 10px; /* Поля вокруг текста */
      border: 0px solid #fff; /* Белая рамка */
      width: 100%; /* Ширина слоя */
     }

     a { 
      text-decoration: none;/* Убираем подчеркивание у ссылок */
      color: #15037a; 
     }
     
     a:hover { 
      text-decoration: underline; /* Добавляем подчеркивание при наведении курсора мыши на ссылку */
     }
     .link { color: #15037a; }

     table{
       margin-top: 10px;
     }

     .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-top: 30px;
      background-color: rgba(9, 4, 32, 0.966);
    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgb(145, 142, 142);
    }
    
    /* Add some padding inside the card container */
    .card_container {
      padding: 2px 16px;
      max-width: 1200px;
      margin: 0 auto;
      height: 50px;
      background-color: rgba(9, 4, 32, 0.966);
    }
  .teaTable{
    
    width: 1200px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #3531f7 ; /* Параметры рамки */
  }
   